/* 
 * Created by kevin in 2017/12/30
 */

@import '../common.scss';

p {
    font-size: 20px;
}

.imgStart {
    text-align: center;
    padding: 15px 0 35px 0;

    img {
        width: 100%;
    }
}

.btnStep {
    @include Common-BtnStep;
}