/* 
 * Created by kevin in 2017/10/29
 */

 @import "../../../../manager/sass/common";

.overview-notice-main {
    .remind-title {
        font-size: 18px;
        line-height: 3.0rem;
    }
    ul {
        font-size: 14px;
        padding-left: 0;
        margin-bottom: 10px;
        li {
            margin-left: 20px;
            padding-bottom: 10px;
        }
    }
    .notice-list {
        @include Notice-Block;
    }
}
